/**
 *
 *	All button variables of website
 *
 */

$body:#fff;
$footerBg: #6c6966;

$default:#fff;
$primary:#000;
$orange: #ff8f00;
$grey: #f5f5f5;

$btn: #ffc700;
$title: #6c6966;
$text: #6c6966;
$link: #6c6966;
$error:#f00;

$formBdr: rgba(#a2a2a2, 0.6);
$inputBg: #e8e8e8;
$inputBdr: #c3c3c3;