/**
 *
 *	All button variables of website
 *
 */

//Primary colors
$default:#fff;
$primary:#000;
$main:   #78909C;
$accent: #cd574d;
$title:  #6c6966;
$text:   #6c6966;
$error:  #f00;

//Backgrounds
$body:     $default;
$headerBg: $main;
$footerBg: $main;


//Elements colors
$btn:   $accent;


//Forms colors
$formBg:   $default;
$formBdr:  rgba(#a2a2a2, 0.6);
$inputBg:  $default;
$inputBdr: #c3c3c3;