/**
 *
 * bxSlider plugins custom styles
 *
 */
.bx-wrapper .bx-viewport{
	max-height: 300px;
}
.bx-wrapper .bx-pager.bx-default-pager a{
	width: 20px;
	height: 20px;
	background-color: $default;
	border: 1px solid $orange;
	border-radius: 10px;
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:hover{
	background-color: $orange;
}