/*-------------------------------------------------*\
					$Footer
\*-------------------------------------------------*/
.footer{
	position: relative;
	padding: 20px 0 100px;
	background-color: $footerBg;
	color: $default;
	font-size: 18px;
	text-align: center;

	h3{
		font-size: 24px;
	}

	a{
		color: $default;
		text-decoration: underline;
	}
	&__left{
		@include span(4);
		line-height: 40px;
    }
	&__center{
		@include span(4);
		line-height: 40px;

	}
	&__right{
		@include span(4 last);
		line-height: 40px;
	}
	&__created-by{
		display: inline-block;
		position: absolute;
		left: 50%;
		height: 89px;
		bottom: 0;
		transform: translateX(-50%);

		img{
			display: block;
		}
    }
}/* End .footer */