/*-------------------------------------------------*\
					$Footer
\*-------------------------------------------------*/
.footer{
	position: relative;
	padding: 20px 0 100px;
	background-color: $footerBg;
	color: $default;
	font-size: 18px;

	&__copy{
		display: inline-block;
		float: left;
		line-height: 40px;
		a{
			color: $default;
			text-decoration: underline;
		}
    }
	&__created-by{
		display: inline-block;
		position: absolute;
		left: 50%;
		height: 89px;
		bottom: 0;
		transform: translateX(-50%);
    }
}/* End .footer */