/*-------------------------------------------------*\
					$Header
\*-------------------------------------------------*/
.header{
    height: 100px;
    background-color: $headerBg;
	color: $default;

    &__logo{
		display: inline-block;
		float: left;
	    padding-top: 15px;
    }

	&__phones{
		@include span(2.5 last);
		position: relative;
		padding-top: 10px;
		text-align: center;

		&-link{
	        display: block;
			font-size: 20px;
		}
		&-btn{
			margin-top: 5px;
		    padding: 5px 20px;
		}
    }

//	&--sticky{
//		position: fixed;
//		top: 0;
//		left: 0;
//		right: 0;
//		z-index: 3;
//		height: 50px;
//		padding-top: 5px;
//		transition: all 0.3s;
//		box-shadow: 0 0 5px $primary;
//
//		.header__logo{ display: none; }
//
//		.header__phones{
//			width: 100%;
//			float: none;
//			text-align: right;
//
//			i{
//				float: none;
//				background-size: 46px 15px;
//				width: 15px;
//				height: 24px;
//				vertical-align: text-bottom;
//			}
//			&-title{
//				display: inline-block;
//				float: left;
//				font-size: 20px;
//				line-height: 40px;
//			}
//			&-link{
//				display: inline-block;
//
//				&--bordered{
//					border-left: 2px solid $text;
//					margin-left: 5px;
//					padding-left: 5px;
//				}
//			}
//			&-btn{
//				margin-top: 0;
//				margin-left: 30px;
//			}
//		}
//	}

}/* End .header */

@media screen and (max-width: 1150px) {
	.header--sticky {
		display: none;
	}
}