/*-------------------------------------------------*\
					$Header
\*-------------------------------------------------*/
.header{
    height: 100px;
    background-color: $headerBg;
	color: $default;

    &__logo{
		display: inline-block;
		float: left;
	    padding-top: 15px;
    }

	&__phones{
		@include span(2.5 last);
		position: relative;
		padding-top: 10px;
		text-align: center;

		&-link{
	        display: block;
			font-size: 20px;
		}
		&-btn{
			margin-top: 5px;
		    padding: 5px 20px;
		}
    }

}/* End .header */

@media screen and (max-width: 1150px) {
	.header--sticky {
		display: none;
	}
}