/*-------------------------------------------------*\
					$Main
\*-------------------------------------------------*/
.main{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;

	&__title{
		margin-bottom: 0;
	}

	&__subtitle{
		margin-bottom: 30px;
		font-weight: bold;
	}

	&__form{
		@include span(4 last);
	}
}/* End .main */